# Set C++17 as the default standard.
common --enable_platform_specific_config

build:windows --cxxopt=/std:c++17
build:windows --host_cxxopt=/std:c++17
test:windows --cxxopt=/std:c++17

build:linux --cxxopt=-std=c++17
build:linux --host_cxxopt=-std=c++17
test:linux --cxxopt=-std=c++17

build:macos --cxxopt=-std=c++17
build:macos --host_cxxopt=-std=c++17
test:macos --cxxopt=-std=c++17

# Increase timeout for tests if needed
test --test_timeout=300
